@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
:root {
  font-family: 'League Spartan', sans-serif;
  font-size: 32px;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
/* first theme */
--Verydarkdesaturatedblue1:hsl(222,26%,31%);
--Verydarkdesaturatedblue2:hsl(223,31%,20%);
--Verydarkdesaturatedblue3: hsl(224, 36%, 15%);

--Desaturateddarkblue1:hsl(225,21%,49%);
--Desaturateddarkblue2:hsl(224,28%,35%);

--Red:hsl(6,63%,50%);
--Darkred:hsl(6,70%,34%);

--Lightgrayishorange:hsl(30,25%,89%);
--Grayishorange: hsl(28, 16%, 65%);

/*light theme*/
--bg-light:hsl(0, 0%, 90%);
--keyboard-bg:hsl(0, 5%, 81%);
--keys-bg:hsl(185, 42%, 37%);
--key-shadow:hsl(185, 58%, 25%);
--text-dark:hsl(60, 10%, 19%);
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: hsl(0, 0%, 90%);
}
.App{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
/* light panel style */
.light{
  background-color: hsl(0, 5%, 81%);
}

.light > button{
  background-color: hsl(45, 7%, 89%);
  border: none;
  border-bottom: 3px solid hsl(35, 11%, 61%);
  font-family: inherit;
  font-size: 25px;
  color: var(--text-dark);

  padding: 10px 20px;
  border-radius: 10px;
}
.light > button:hover{
  background-color: #fff;
  cursor: pointer;
}

.light > #reset, .light > #del{
  background-color: hsl(185, 42%, 37%);
  border-color: hsl(185, 58%, 25%);
  color:hsl(0, 0%, 100%);
}

.light > #equal{
  background-color: hsl(25, 98%, 40%);
  border-color: hsl(25, 99%, 27%);
  color:hsl(0, 0%, 100%);
}
.light > #reset:hover, .light > #del:hover, .light > #equal:hover{
  opacity: .8;
  cursor: pointer;
}
/* light panel style */

/* light screen style */

.light-s{
  background-color: hsl(0, 0%, 93%);
  color: var(--text-dark);
  text-align: right;
  font-size: 37px;

  padding: 15px 15px;
}

.light-switch h1, .light-switch div label, #theme-selec li{
  color: var(--text-dark);
}
.light-input::-webkit-slider-thumb {
  background: hsl(25, 98%, 40%);
  border: 1px solid transparent;
}

/* light screen style */

